<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.martykan.webtube">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize"
            android:alwaysRetainTaskState="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="http" />
                <data
                    android:host="m.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="m.youtube.com"
                    android:scheme="http" />
                <data
                    android:host="youtube.com"
                    android:scheme="https" />
                <data
                    android:host="youtube.com"
                    android:scheme="http" />
                <data
                    android:host="youtu.be"
                    android:scheme="https" />
                <data
                    android:host="youtu.be"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
